<div class="main-container" style="background-image: url('../../../assets//melachatbackground.png');">
    <app-app-header [currentUserId]="currentUserId" [image]="currentUser!.username"></app-app-header>

    <app-story-container [CurrentUserStories]="CurrentUserStories" [stories]="ListOfStories" [userImage]="image" (addStoryEmiiter)="addStoryNavigation()" (viewStoriesEmitter)="ViewStories($event)"></app-story-container>

    <!-- <app-post-item></app-post-item>
    <app-recommendations></app-recommendations> -->
    <!-- <app-modal></app-modal> -->
    <div class="search-container-center">
        <div class="get-started">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
                style="color:white">
                Welcome to <span class="text-blue-600 dark:text-blue-500">Mela</span> Chat</h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 browse-friends-p">Browse friends
                and posts below to
                get started
            </p>
            
            <span (click)="browseFriends()"
            class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Browse
            Friends</span>
            <span (click)="navigateTotrending()"
            class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Trending
            <span
            class="inline-flex items-center justify-center w-4 h-4 ml-2 text-xs font-semibold text-white-800 bg-red-200 rounded-full melachat-text-color" style="background-color: white;"
            >
            {{hashtags?.length}}
        </span></span>
            <span (click)="navigateToFriendRequests()"
            class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">Friend requests
            <span
            class="inline-flex items-center justify-center w-4 h-4 ml-2 text-xs font-semibold text-white-800 bg-red-200 rounded-full melachat-text-color" style="background-color: white;"
          >
            {{currentUserFriendRequests.length}}
        </span></span>
        
    </div>
    <div class="get-started">
        <div style="display: flex;flex-direction: row;">
            <h5 class="text-xl font-bold dark:text-white" style="padding-bottom:12px;color:white">Recommendations
            </h5>
            <svg *ngIf="hide" (click)="toggleVisibility('hide')" style="margin-left:12px;cursor:pointer" class="h-8 w-8 text-gray-500" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
        </svg>
        
        <svg *ngIf="!hide" (click)="toggleVisibility('show')" style="margin-left:12px;cursor:pointer" class="h-8 w-8 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
        <circle cx="12" cy="12" r="3" />
    </svg>
</div>

<div class="recommendations-row" *ngIf="recommedations && showRecommendations">
    <ng-container *ngFor="let item of recommedations">
        <app-new-friend-card (MessageUserEmitter)="MessageUser($event)" (moreDetailsEmitter)="MoreUserDetails($event);addNewFriendRequest($event.docId,$event.phone)" class="app-new-friend-card" [users]="item"
        (moreDetailsEmitter)="openModal($event)">{{item.name}}</app-new-friend-card>
    </ng-container>
</div>
<div class="get-started" *ngIf="!recommedations">
    <div class="recommendations-row" *ngIf="!recommedations">
        <div role="status" class="space-y-2.5 animate-pulse max-w-lg" style="width:100%">
            <div class="flex items-center w-full">
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
            </div>
            <div class="flex items-center w-full max-w-[480px]">
                <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
            </div>
            <div class="flex items-center w-full max-w-[400px]">
                <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
            </div>
            <div class="flex items-center w-full max-w-[480px]">
                <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
            </div>
            <div class="flex items-center w-full max-w-[440px]">
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-32"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
            </div>
            <div class="flex items-center w-full max-w-[360px]">
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
            </div>
            <span class="sr-only">Loading...</span>
        </div>
        
    </div>
</div>
</div>
<app-search [placeholder]="searchPlaceholder" (searchEmitter)="search($event)"></app-search>
</div>
<div class="container-center justify-center items-center">
    <div>
        <app-tabs (tabSelected)="onTabSelected($event)"></app-tabs>
    </div>
</div>
<div class="tab-content">
    <!-- if chats selected -->
    <div *ngIf="selectedTabTitle == CHATS">
        <ng-container *ngIf="currentUser!.friends.length">
            <app-chat-list (chatEmitter)="messagingNavigation($event)" [friends]="UserFriends.length ? UserFriends : fetchCurrentUserFriendsDefault()"></app-chat-list>
        </ng-container>
        <div *ngIf="!currentUser!.friends.length" class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white no-friends-section">
            <h1 class="no-friends">You have no friends</h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 browse-friends-p">Click Browse friends
                above to add a friend
            </p>
            <div role="status" class="space-y-2.5 animate-pulse max-w-lg" style="width:100%">
                <div class="flex items-center w-full">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                </div>
                <div class="flex items-center w-full max-w-[480px]">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                </div>
                <div class="flex items-center w-full max-w-[400px]">
                    <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                </div>
                <div class="flex items-center w-full max-w-[480px]">
                        <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                    </div>
                    <div class="flex items-center w-full max-w-[440px]">
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-32"></div>
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                        <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                    </div>
                    <div class="flex items-center w-full max-w-[360px]">
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                        <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                        <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    </div>
                    <span class="sr-only">You currently have no friends...</span>
                </div>
            </div>
        </div>

        <!-- if posts selected -->
        <div *ngIf="selectedTabTitle == POSTS">
            <app-post-list [showPrmotedPostsContainer]="true" [AllPosts]="AllPosts"></app-post-list>
        </div>
        <!-- if news selected -->
        <div *ngIf="selectedTabTitle == NEWS">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4 news-grid">
                <ng-container *ngFor="let item of NewsArticles">
                    <app-news-card [News]="item"></app-news-card>
                </ng-container>
            </div>
        </div>
    </div>
    <app-floating-button (AddPostEmitter)="AddPost()"></app-floating-button>
    <app-dialog #dialog *ngIf="openModalFlag" (onCancel)="closeModal($event)" (onConfirm)="confirmFriendRequest()"></app-dialog>
</div>