.mb-4.border-b.border-gray-200.dark\:border-gray-700 {
    display: flex;
    overflow: auto;
}

ul#default-tab {
    display: contents;
    overflow: hidden;
}

.me-2{
    color:white
}

.default-tab-content{
    height:180px
}