
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700" style="width:100%">
    <li class="pb-3 sm:pb-4">
       <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
             <img class="w-8 h-8 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/the-thetaapp.appspot.com/o/UserImages%2FVxX3M7vxv6QDUlCWKXONlFBJ10C3?alt=media&token=bb930439-55b1-42a9-88fd-1c1b7782837b" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Edna
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                edna@gmail.com
             </p>
          </div>
          <!-- <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            some icon
          </div> -->
       </div>
    </li>
    <li class="py-3 sm:py-4" >
       <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
             <img class="w-8 h-8 rounded-full" src="https://firebasestorage.googleapis.com/v0/b/the-thetaapp.appspot.com/o/UserImages%2FUm4ikVYgf8epmWL7jbF8LEuhdbx1?alt=media&token=a4fa7ce4-3222-4536-8327-939f988694f6" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
               Nonceba
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               Nonceba@gmail.com
             </p>
          </div>
          <!-- <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            some icon
          </div> -->
       </div>
    </li>
 
 </ul>
 