.promoted-posts {
    margin-bottom: 22px;
    margin-right: 148px;
    margin-left: 148px;
    justify-content: space-between;
      display: flex;
}


@media (min-width: 768px) {
    .md\:grid-cols-3 {
        background-color: #69696912;
        padding: 54px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-right: 148px;
        margin-left: 148px;
        border-radius: 12px
    }
}
// @media (max-width: 760px) {
//     .md\:grid-cols-3 {
//         background-color: white;
//         padding: 54px;
//         display: grid;
//         grid-template-columns: repeat(2, minmax(0, 1fr));
//         margin-right: 148px;
//         margin-left: 148px;
//         border-radius: 12px
//     }
// }

@media (max-width: 760px) {
    .md\:grid-cols-3 {
      /* background-color: white; */
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-right: 22px;
      margin-left: 22px;
      border-radius: 12px;
    }

    .promoted-posts {
        margin-bottom: 22px;
        /* margin-right: 148px; */
        margin-left: 24px;
        justify-content: space-between;
        display: flex;
    }
  }
@media (max-width: 500px) {
    .md\:grid-cols-3 {
      /* background-color: white; */
      padding: 0px;
      display: contents;
    //   grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-right: 22px;
      margin-left: 22px;
      border-radius: 12px;
    }

    .promoted-posts {
        margin-bottom: 22px;
        /* margin-right: 148px; */
        margin-left: 24px;
        justify-content: space-between;
        display: flex;
    }

    .button-group{
        margin: 12px;
        scale: 0.8;
        align-content: center;
        display: flex;
        justify-content: center;
    }

    .grid {
        display: contents;
    }
  }
  