.promoted-posts {
    margin-bottom: 22px;
    margin-right: 148px;
    margin-left: 148px;
}


@media (min-width: 768px) {
    .md\:grid-cols-3 {
        background-color: white;
        padding: 54px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-right: 148px;
        margin-left: 148px;
        border-radius: 12px
    }
}
@media (max-width: 760px) {
    .md\:grid-cols-3 {
        background-color: white;
        padding: 54px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-right: 148px;
        margin-left: 148px;
        border-radius: 12px
    }
}